<a href="https://colab.research.google.com/github/Majo-ux00/md-/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("mi nombre es maria")

mi nombre es maria

In [ ]:
# mi nuevo codigo en python

ygyuhfu

In [ ]:
import pandas as pd
tabela= pd.

In [1]:
import sqlite3
import pandas as pd # Usaremos pandas para mostrar los resultados de forma más legible

# 1. Conectar a una base de datos (se creará un archivo .db si no existe)
#    En Colab, esto creará el archivo en el directorio de sesión temporal.
conn = sqlite3.connect('mi_base_de_datos_ejemplo.db')
cursor = conn.cursor()

print("Base de datos conectada exitosamente.")

# 2. Crear una tabla (Entidad)
#    Basado en el concepto de "Entidad" como una tabla que representa un objeto del mundo real [3]
#    y "Atributo" como una columna [3].
#    Esto es análogo a la operación CREATE mencionada en la manipulación de bases de datos [1].
try:
    cursor.execute('''
        CREATE TABLE Estudiantes (
            id INTEGER PRIMARY KEY,
            nombre TEXT NOT NULL,
            edad INTEGER,
            carrera TEXT
        )
    ''')
    print("Tabla 'Estudiantes' creada exitosamente.")
except sqlite3.OperationalError as e:
    print(f"Error al crear tabla (posiblemente ya existe): {e}")

# 3. Insertar datos (Registros)
#    Cada fila es un "Registro" con datos para cada entidad [3].
#    Esto es análogo a la operación INSERT mencionada [1].
try:
    cursor.execute("INSERT INTO Estudiantes (nombre, edad, carrera) VALUES (?, ?, ?)", ('Juan Pérez', 20, 'Ingeniería'))
    cursor.execute("INSERT INTO Estudiantes (nombre, edad, carrera) VALUES (?, ?, ?)", ('María García', 22, 'Ciencias de la Computación'))
    cursor.execute("INSERT INTO Estudiantes (nombre, edad, carrera) VALUES (?, ?, ?)", ('Carlos López', 21, 'Matemáticas'))
    conn.commit() # Guardar los cambios
    print("Datos insertados exitosamente.")
except sqlite3.Error as e:
    print(f"Error al insertar datos: {e}")

# 4. Seleccionar datos (Consultar)
#    Esto es análogo a la operación SELECT mencionada [1].
print("\nDatos en la tabla 'Estudiantes':")
cursor.execute("SELECT * FROM Estudiantes")
rows = cursor.fetchall()

if rows:
    # Obtener nombres de columnas
    column_names = [description for description in cursor.description]
    df = pd.DataFrame(rows, columns=column_names)
    print(df.to_string(index=False))
else:
    print("No hay datos en la tabla.")

# 5. Actualizar un registro (Ejemplo de UPDATE)
#    Esto es análogo a la operación UPDATE mencionada [1].
try:
    cursor.execute("UPDATE Estudiantes SET edad = ? WHERE nombre = ?", (23, 'María García'))
    conn.commit()
    print("\nRegistro de María García actualizado a edad 23.")
except sqlite3.Error as e:
    print(f"Error al actualizar datos: {e}")

# 6. Seleccionar datos después de la actualización para verificar
print("\nDatos en la tabla 'Estudiantes' después de la actualización:")
cursor.execute("SELECT * FROM Estudiantes")
rows_after_update = cursor.fetchall()
if rows_after_update:
    column_names = [description for description in cursor.description]
    df_after_update = pd.DataFrame(rows_after_update, columns=column_names)
    print(df_after_update.to_string(index=False))

# 7. Eliminar un registro (Ejemplo de DELETE)
#    Esto es análogo a la operación DELETE mencionada [1].
try:
    cursor.execute("DELETE FROM Estudiantes WHERE nombre = ?", ('Carlos López',))
    conn.commit()
    print("\nRegistro de Carlos López eliminado.")
except sqlite3.Error as e:
    print(f"Error al eliminar datos: {e}")

# 8. Seleccionar datos después de la eliminación para verificar
print("\nDatos en la tabla 'Estudiantes' después de la eliminación:")
cursor.execute("SELECT * FROM Estudiantes")
rows_after_delete = cursor.fetchall()
if rows_after_delete:
    column_names = [description for description in cursor.description]
    df_after_delete = pd.DataFrame(rows_after_delete, columns=column_names)
    print(df_after_delete.to_string(index=False))
else:
    print("No hay datos en la tabla después de la eliminación.")

# 9. Cerrar la conexión
conn.close()
print("\nConexión a la base de datos cerrada.")

Base de datos conectada exitosamente.
Tabla 'Estudiantes' creada exitosamente.
Datos insertados exitosamente.

Datos en la tabla 'Estudiantes':
 (id, None, None, None, None, None, None) (nombre, None, None, None, None, None, None)  (edad, None, None, None, None, None, None) (carrera, None, None, None, None, None, None)
                                        1                                   Juan Pérez                                          20                                    Ingeniería
                                        2                                 María García                                          22                    Ciencias de la Computación
                                        3                                 Carlos López                                          21                                   Matemáticas

Registro de María García actualizado a edad 23.

Datos en la tabla 'Estudiantes' después de la actualización:
 (id, None, None, None, None, None, None) (nombre, None, None, None, None, None, None)  (edad, None, None, None, None, None, None) (carrera, None, None, None, None, None, None)
                                        1                                   Juan Pérez                                          20                                    Ingeniería
                                        2                                 María García                                          23                    Ciencias de la Computación
                                        3                                 Carlos López                                          21                                   Matemáticas

Registro de Carlos López eliminado.

Datos en la tabla 'Estudiantes' después de la eliminación:
 (id, None, None, None, None, None, None) (nombre, None, None, None, None, None, None)  (edad, None, None, None, None, None, None) (carrera, None, None, None, None, None, None)
                                        1                                   Juan Pérez                                          20                                    Ingeniería
                                        2                                 María García                                          23                    Ciencias de la Computación

Conexión a la base de datos cerrada.